<h1>
Example section.
</h1>

{% schema %}
{
  "name": "Product slider carousell",
  "tag":"div",

"settings": [],
"blocks": [],
"presets": [
      {
        "name": "Product slider carousell"
      }
    ]
}
{% endschema %}
